/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Play', sans-serif;

// Size
$mainFontColor           : #1C3B60;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 140%;

$desktopWidth            : 1364px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 570px;
$phoneWidth              : 480px;
$smPhoneWidth            : 375px;

// Main color
$defaultColor            : #ffffff;
$primaryColor            : #0066FF;
$attentionСolor          : #EA6013;
$emeraldColor            : #33F3FF;

//Rare color
$commonColor             : #FEF7CE;
$uncommonColor           : #8BFF62;
$rareColor               : #04D3FF;
$epicColor               : #FE3FFF;
$legendaryColor          : #FEEC11;

//Shadow
$mainShadow              : 0px 0px 64px rgba(255, 255, 255, 0.5), 
                           0px 0px 24px rgba(255, 255, 255, 0.4), 
                           0px 0px 4px rgba(255, 255, 255, 0.6);

$commonShadow            : 0px 0px 32px rgba(254, 247, 206, 0.5), 
                           0px 0px 16px rgba(254, 247, 206, 0.6), 
                           0px 0px 2px rgba(254, 247, 206, 0.6);

$uncommonShadow          : 0px 0px 32px rgba(139, 255, 98, 0.5), 
                           0px 0px 16px rgba(139, 255, 98, 0.6), 
                           0px 0px 2px rgba(139, 255, 98, 0.6);

$rareShadow              : 0px 0px 32px rgba(0, 163, 255, 0.5), 
                           0px 0px 16px rgba(0, 163, 255, 0.6), 
                           0px 0px 2px rgba(0, 163, 255, 0.6);

$epicShadow              : 0px 0px 32px rgba(254, 63, 255, 0.5), 
                           0px 0px 16px rgba(254, 63, 255, 0.6), 
                           0px 0px 2px rgba(254, 63, 255, 0.6);

$legendaryShadow         : 0px 0px 32px rgba(254, 236, 17, 0.5), 
                           0px 0px 16px rgba(254, 236, 17, 0.6), 
                           0px 0px 2px rgba(254, 236, 17, 0.6);